th{
  color: black !important;
}

.non{
  color: red;
}

.tidak_lulus{
  font-size: 14px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
  font-style: italic;
}

.lulus{
  font-size: 14px;
  font-weight: bold;
  color: #52AC56;
  margin-top: 10px;
  font-style: italic;
}

.upload{
  margin-right: 10px;
}

.max{
  font-size: 15px;
  color: red;
  margin-right: 5px;
}

.daftar_ulang{
  text-decoration:double;
}

/* cetak */

.container-kartu{
  font-size: 20px;
}
.img-kartu{
  width: 120px;
  padding-left: 60px;
}
.tes{
  font-size: 23px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.nopen{
  font-weight: bold;
}

footer{

}
.foter{
 display: flex;
 justify-content: flex-end;
}

.tulis{
  flex-direction: column-reverse;
  
}

.panitia{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.ttd{
  margin-bottom: 40px;
}

.nama,.np{
  font-weight: bold;
}

.nama{
  margin-right: 50px;
}

#login{
  background-image: url(../img/bg.jpg);
}

.kelas{
  padding: 2px;
  border-radius: 5px;
  color: white;
}
