th{
  color: black !important;
}

.non{
  color: red;
}

.tidak_lulus{
  font-size: 14px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
  font-style: italic;
}

.lulus{
  font-size: 14px;
  font-weight: bold;
  color: #52AC56;
  margin-top: 10px;
  font-style: italic;
}

.upload{
  margin-right: 10px;
}

.max{
  font-size: 15px;
  color: red;
  margin-right: 5px;
}

.daftar_ulang{
  text-decoration:double;
}